/* WaterIntakeForm.module.css */
.formContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: black;
}

.formContainer h2 {
  margin-bottom: 20px;
  text-align: center;
}

.formGroup {
  margin-bottom: 20px;
}

.inputField,
.selectField,
.submitButton {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submitButton {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .formContainer {
    max-width: 90%;
  }
}
